.heading{
    text-align: center;
    margin: 20px 0px 20px 0px;
    background-color: #fff;
    height: 60px;
    width: 100%;
}

.Batches_info{
    height: 320px;
    width: 100%;
    background-color: lightskyblue;
}